1. Write a python script to print MySirG N times on the screen

In [1]:
n=int(input('Enter the no of loop:'))
i=1
while i<=n:
  print('MySirG')
  i+=1

Enter the no of loop:4
MySirG
MySirG
MySirG
MySirG

2. Write a python script to print first N natural numbers

In [15]:
n=int(input('Enter the no :'))
i=1
while i<=n:
  print(i,end=' ')
  i+=1

Enter the no :6
1 2 3 4 5 6

3. Write a python script to print first N natural numbers in reverse order

In [16]:
n=int(input('Enter the no :'))
while n:
  print(n,end=' ')
  n-=1

Enter the no :5
5 4 3 2 1

4. Write a python script to print first N odd natural numbers

In [17]:
n=int(input('Enter the no :'))
i=1
while i<n*2:
  print(i,end=' ')
  i=i+2

Enter the no :7
1 3 5 7 9 11 13

5. Write a python script to print first N odd natural numbers in reverse order

In [44]:
inp=2*(int(input('Enter the no :')))+1
while inp>1:
  print(inp,end=' ')
  inp-=2

Enter the no :10
21 19 17 15 13 11 9 7 5 3

6. Write a python script to print first N even natural numbers

In [41]:
n=int(input('Enter the number:'))
i=2
while i<(n*2)+1:
  print(i,end=' ')
  i=i+2

Enter the number:10
2 4 6 8 10 12 14 16 18 20

7. Write a python script to print first N even natural numbers in reverse order

In [45]:
inp=2*(int(input('Enter the no :')))
while inp>0:
  print(inp,end=' ')
  inp-=2

Enter the no :10
20 18 16 14 12 10 8 6 4 2

8. Write a python script to print squares of first N natural numbers

In [52]:
n=int(input('Enter the number:'))
i=1
while i<n+1:
  print(i**2,end=' ')
  i=i+1

Enter the number:5
1 4 9 16 25

9. Write a python script to print cubes of first N natural numbers

In [53]:
n=int(input('Enter the number:'))
i=1
while i<n+1:
  print(i**3,end=' ')
  i=i+1

Enter the number:5
1 8 27 64 125

10. Write a python script to print first 10 multiples of N

In [19]:
n=int(input('Enter the no :'))
i=1
while i<=10:
  print(i*n,end=' ')
  i+=1

Enter the no :7
7 14 21 28 35 42 49 56 63 70