1. Write a python script to print MySirG 5 times on the screen

In [12]:
n=0
while n<5:
  print('MySirG')
  n+=1

MySirG
MySirG
MySirG
MySirG
MySirG

2. Write a python script to print first 10 natural numbers

In [18]:
n=1
while n<11:
  print(n,end=' ')
  n+=1

1 2 3 4 5 6 7 8 9 10

3. Write a python script to print first 10 natural numbers in reverse order

In [17]:
n=10
while n>0:
  print(n,end=' ')
  n-=1

10 9 8 7 6 5 4 3 2 1

4. Write a python script to print first 10 odd natural numbers

In [23]:
n=1
while n<20:
  print(n,end=' ')
  n=n+2

1 3 5 7 9 11 13 15 17 19

5. Write a python script to print first 10 odd natural numbers in reverse order

In [25]:
n=19
while n>0:
  print(n,end=' ')
  n=n-2

19 17 15 13 11 9 7 5 3 1

6. Write a python script to print first 10 even natural numbers

In [31]:
n=2
while n<21:
  print(n,end=' ')
  n=n+2

2 4 6 8 10 12 14 16 18 20

7. Write a python script to print first 10 even natural numbers in reverse order

In [33]:
n=20
while n>0:
  print(n,end=' ')
  n=n-2

20 18 16 14 12 10 8 6 4 2

8. Write a python script to print squares of first 10 natural numbers

In [34]:
 n=1
 while n<11:
  print(n**2,end=' ')
  n=n+1

1 4 9 16 25 36 49 64 81 100

9. Write a python script to print cubes of first 10 natural numbers

In [35]:
n=1
while n<11:
  print(pow(n,3),end=' ')
  n=n+1

1 8 27 64 125 216 343 512 729 1000

10. Write a python script to print first 10 multiples of 5

In [37]:
n=1
while n<=10:
  print(n*5,end=' ')
  n+=1

5 10 15 20 25 30 35 40 45 50