1. Write a python script to remove the last digit from a given number. (for example, if
user enters 2534 then your output should be 253)

In [ ]:
val=input('Please enter the number:')
print(f"output is {val[:-1]}")

Please enter the number:2534
output is 253

2. Write a python script to get the last digit from a given number. (for example, if user
enters 2089 then your output should be 9)

In [ ]:
val=input('Please enter the number:')
print(f"output is {val[-1]}")

Please enter the number:2089
output is 9

3. Write a python script to swap data of two variables

In [ ]:
var1=input('Enter first value:')
var2=input('Enter second value:')
print(f'old value of var1 is {var1}')
print(f'old value of var2 is {var2}')
var1,var2=var2,var1
print(f'new value of var1 is {var1}')
print(f'new value of var2 is {var2}')

Enter first value:4
Enter second value:7
old value of var1 is 4
old value of var2 is 7
new value of var1 is 7
new value of var2 is 4

4. Write a python script to find x power y, where values of x and y are given by user

In [ ]:
x=float(input('Enter the value:'))
y=float(input('Enter the power value:'))
print(f"result is {x**y}")

Enter the value:2
Enter the power value:3
result is 8.0

5. Write a python script which takes a three digit number from the user and displays
only its first digit.

In [3]:
a=input('Enter the number:')
print(int(a[0]))

Enter the number:2345
2

6. Write a python script which takes a three digit number from the user and displays
only its middle digit.

In [4]:
a=input('Enter the number:')
print(int(a[1]))

Enter the number:234
3

7. Write a python script which takes a three digit number from the user and displays
only its last digit.

In [6]:
a=input('Enter the number:')
print(int(a[-1]))

Enter the number:345
5

8. Write a python script to use IN operator to display the data present in the list

In [10]:
a=['Nitesh','Pandey','Python','INeuron']
'Nitesh' in a

True

9. Write a python script to use NOT IN operator to display the data not present in list

In [11]:
'DS' in a

False

10. Write a python script to use IS operator to display if both variables are the same
object or not?

In [13]:
a=10
b=10

print(a is b)

True